<!DOCTYPE html>
<html lang="" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/check.js"></script>
    <script src="js/app9.js"></script>
  </head>
  <body onload="getCookie2();"  ng-app="myApp" ng-controller="patDshCtrl">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-pane>
    <ion-header-bar class="bar-stable" align="center">
        <div class="navbar-header navbar-left">
					<h1><a href="patmain.html">Patient Dashboard</a></h1>
				</div>
      </ion-header-bar>
      
      <ion-content>
          <div id="load1" class="button-bar" ng-init="patDashOrder();">
          </div>
          <div id="load2">
            <form name="personForm" novalidate>
                <div class="button-bar">
                  <input type="submit" class="button button-dark" value="Search" ng-click="clickButton(comStatus)">
                </div>                
                <table class="demo">
                  <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Patient ID</th>
                        <th>Test Type</th>
                        <th>Doctor ID</th>
                        <th>Diag Admin ID</th>
                        <th>Completed Status</th>
                        <th>Reports Link</th>
                    </tr>
                   </thead>
                   <tbody>
                      <tr data-ng-repeat="result in results">
                        <td data-title="'orderID'">{{result.orderID}}</td>
                        <td data-title="'patientId'">{{result.patientId}}</td>
                        <td data-title="'testType'" >{{result.testType}}</td>
                        <td data-title="'doctorID'" >{{result.doctorID}}</td>
                        <td data-title="'diagAdminID'">{{result.diagAdminID}}</td>
                        <td data-title="'completeStatus'">{{result.completeStatus}}</td>
                        <td data-title="'docURL'"><a ng-href="{{result.docURL}}">{{result.docURL}}</a></td>
                      </tr>
                    </tbody>
                </table>
            </form>
        </div>
      </ion-content>
      
      <div class="tabs tabs-icon-top">
        <a class="tab-item" href="patmain.html">
          <i class="icon ion-home"></i>
          Home
        </a>
        <a class="tab-item" onclick="localStorage.removeItem('admID');localStorage.removeItem('docID');localStorage.removeItem('diagTID');localStorage.removeItem('patID');localStorage.removeItem('data1');localStorage.removeItem('filePx');localStorage.removeItem('loginType');logoutCookie();" href="login.html">
          <i class="icon ion-power"></i>
          Logout
        </a>
      </div>
    </ion-pane>
  </body>
</html>
